*{
    padding:0;
    margin:0;
}

#container {
    width: 100%;
    max-width: 1512px;
    margin: 0 auto;
}

#topBar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    height: 160px;
    background-color: #dcaeae;
}

#logo{
    width: 150px;
    height: auto;
    border:5px solid black;
}

#huisje{
    width: 150px;
    height: 128px;
}

#achtergrond{
    width: 100%;
    height: 480px;
    background-color: #f1e8e2;
    color: #432018;
}

@font-face {
    font-family: 'Bunga';
    src: url('assets/fonts/bunga-cempaka/BungaCempakaDemoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1{
    position: relative;
    top: -52px;
    font-family: 'Bunga', sans-serif;
    font-size: 5vw;
    font-weight: normal;
    color: #432018;
}


h2{
    display: flex;
    justify-content: center;
    font-size: 46px;
}

.column-container{
    display: flex;
    justify-content: center;
}
.column{
    padding-right: 20px;
}

.column2{
    font-size: 19px;
}

.column2 input{
    padding: 2.2px;
}

#voornaam, #achternaam, #postcode{
    width: 80px;
}

#tussenvoegsel, #huisnummer, #toevoeging{
    width: 55px;
}

#land{
    width: 163px;
}

h3{
    font-size: 20px;
    text-align: right;
}

#Footer{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #dcaeae;
}

@media (max-width: 850px) {

h1{
    font-size: 50px;
}
}

@media (max-width: 705px) {
    h1{
        font-size: 42px;
        top: -105px;
        left: 20px;
    }
}