#achtergrond {
    width: 1500px;
    height: 738px;
    background-color: #fc229063;
}

*{
    padding:0;
    margin:0;
}

#witVierkant{
    width: 1500px;
    height: 692px;
    margin-top: -587px;
    background-color: aqua;
    }
/*-700*/
